.currentHand {
  /* border: 1px solid black; */
  background-color: green;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.hand {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}