.peeker {
  text-align: center;
  font-size: 2rem;
}

.comWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1.1fr;
  grid-template-rows: 2fr 1fr;
  /* grid-column-gap: 1px;
  grid-row-gap: 1px; */
  text-align: center;
}

*:not(button):not(input) {
  color: lavender;
}

/* 
aliceblue
cornsilk
lavender
lightcyan
mintcream
*/