.cardWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-start;
}

.card {
  height: 50%;
  width: 50%;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}

.card-btn {
  order: 0;
  flex: 0 2 auto;
  align-self: center;
  margin-top: 1rem;

}
