* {
  margin: 0;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.card {
  width: 80%;
  height: 80%;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}

.card-btn {
  order: 0;
  flex: 0 2 auto;
  align-self: center;
  margin-top: 1rem;
  height: 1.6rem;

}

.clicked {
  border: 2px solid blue;
}

.none {
  visibility: hidden;
}