.table {
  background-color: green;
  color: white;
}
.noBullet {
  list-style: none;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

.draw-btn {
  height: 3rem;
  align-self: center;
  margin: 2rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  padding: 0 3rem;
  margin: 0 2rem;
  background-color: black;
  color: white;
}

.draw-btn:hover {
  border: 2px solid red;
  cursor: pointer;
}

.draw-btn:focus {
  outline: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

#message {
  color: black;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 60%;
}

